<footer>
	<div class = "cen">
		<span class="brand">The LUGVITC Blog</span>


		<div class = "links">
			<a href = "/about" class="with-arrow">
				About us<span class="arrow">↗</span>
			</a>

			<a href = "/contact">Contact us</a>
			<a href = "/blog">All Blogs</a>

		</div>
		<p>
  			© 2025 LUGVITC. All rights reserved.
		</p>
	</div>
	
</footer>

<style>
	.cen{
		font-family: monospace;
		background-color: var(--header-bg);
		color:#eaeaea;
		padding:0.4rem 1.5rem;
		display:flex;
		gap:3rem;
		display:flex;
		flex-direction:column;
		opacity:0.95;
		border-top: 4px solid var(--header-border);
		padding-top:2rem;	
	}
	.brand{
		align-self: flex-start;
		font-family: 'Space Mono',monospace;
		font-weight: 400;
		font-size: 15px;
		letter-spacing: 0.08em;
		line-height: 1;
		
		border:1px solid #444;
		padding:10px;
		background:#3B4252;

		box-shadow:
				5px 5px 0 #636B7B,
				0 0 0 1px rgba(121, 121, 121, 0.4);
		}

	.links{
		margin-left:15%;
		display: flex;
		gap:3rem;
	}
	.links a{
		display:inline-flex;
		height: 20px;
		border:2px solid #444;
		color:black;
		font-weight:bold;
		padding:1rem 1.5rem;
		border-radius:1px;
		text-decoration:none;

		font-family: 'Space Mono', monospace;
		box-shadow:
		6px 6px 0 #636B7B,                 
		0 0 0 1px rgba(0,0,0,0.4); 
		transition:
		transform 0.15s ease-out,
    	box-shadow 0.15s ease-out;
	}

	a:nth-child(1){
		background:#00A9F3;

	}
	a:nth-child(2){
		background:#00C764;		
	}
	a:nth-child(3){
		background:#FF7800;
	}
	.with-arrow{
		align-items:center;
		gap:0.4rem;
		line-height:1;

	}
	.arrow{
		line-height: 1;
		user-select: none;
		font-size:2em;

	}
	.links a:hover{
		 transform: translate(2px, 2px);
		box-shadow:
		4px 4px 0 #636B7B,
		0 0 0 1px rgba(0,0,0,0.4);
	}
	
</style>