---
import { ClientRouter } from 'astro:transitions';
---
<header transition:persist="none">
	<ClientRouter />
	<a href="/" class="logo">
		<img src="/luglogo.png" alt="logo">
		<span>The LUGVITC Blog</span>
	</a>
	<nav>
		<a href="/">cd ~</a>
		<a href="https://www.lugvitc.net">cd /</a>
		<a href="https://lugvitc.net/#/contact">ping port:80</a>
	</nav>
	<button id="toggle-theme" aria-label="Toggle theme"><img src="/Sun.svg" alt="Toggle theme"></button>
</header>

<script is:inline>
	const theme = (() => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
			return 'dark';
		}
		return 'light';
	})();

	const updateIcon = (theme) => {
		const icon = document.querySelector('button#toggle-theme img');
		if (icon) {
			icon.src = theme === 'dark' ? '/Sun.svg' : '/Moon.svg';
		}
	};

	if (theme === 'dark') {
		document.documentElement.classList.add('dark');
	} else {
		document.documentElement.classList.remove('dark');
	}

	updateIcon(theme);
	window.localStorage.setItem('theme', theme);

	const handleToggleClick = () => {
		const element = document.documentElement;
		element.classList.add("disable-transitions");
		element.classList.toggle("dark");

		const isDark = element.classList.contains("dark");
		const newTheme = isDark ? "dark" : "light";
		localStorage.setItem("theme", newTheme);
		updateIcon(newTheme);

		window.setTimeout(() => {
			element.classList.remove("disable-transitions");
		}, 0);
	}

	document.addEventListener('DOMContentLoaded', () => {
		document.getElementById('toggle-theme')?.addEventListener('click', handleToggleClick);
	});
</script>

<style>
	header {
		display:flex;
		align-items: center;
		gap: 2rem;
		padding:0.1rem 0.5rem;
		border-bottom:4px solid var(--header-border);
		color: white;
	}

	.logo {
		display: flex;
		align-items: center;
		text-decoration:none;
		color:inherit;
		padding: 4px;
	}
	.logo img {
		height: 80px;
		width: auto;
	}

	.logo span {
		font-weight: 400;
		letter-spacing: 0.05em;
		line-height: 1;
		border:2px solid #444;
		padding:12px;
		background:#3B4252;
		box-shadow: 6px 6px var(--box-shadow);
	}

	nav {
		width: auto;
		display:flex;
		gap:2rem;
		margin-left: auto;
	}

	nav a {
		text-decoration:none;
		color: inherit;
		padding: 0.5rem 2.5rem;
		box-shadow: 6px 6px var(--box-shadow);
	}

	nav a:nth-child(1) {
		background: #FF7800; 
	}

	nav a:nth-child(2) {
		background: #00A9F3; 
	}

	nav a:nth-child(3) {
		background: #00C764; 
	}

	#toggle-theme {
		display:flex;
		align-items:center;
		justify-content: center;
		padding:0.5rem 0.5rem;
		background: #FF7800;
		box-shadow: 6px 6px var(--box-shadow);
		margin-right: 12px;
		border: none;
		border-radius: 0;
		cursor: pointer;
	}

	#toggle-theme img {
		width: 32px;
		height: 32px;
	}

	header nav a,
	#toggle-theme {
	transition:
		transform 0.15s ease-out,
		box-shadow 0.15s ease-out;
	}

	header nav a:hover, #toggle-theme:hover {
		transform: translate(1px, 1px);
		box-shadow: 4px 4px var(--box-shadow);
	}

</style>
